@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

/* LOADING OVERLAY */
#page-loader {
    position: fixed;
    inset: 0;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

#page-loader.active {
    opacity: 1;
    pointer-events: all;
}

/* LOADER */
.loader {
  width: 45px;
  aspect-ratio: 1;
  --c:no-repeat linear-gradient(#000 0 0);
  background: 
    var(--c) 0    0, 
    var(--c) 50%  50%, 
    var(--c) 100% 100%;
  animation: l17 1s infinite alternate;
}

@keyframes l17 {
  0%,10%  {background-size:20% 100%}
  50%     {background-size:20% 20%}
  90%,100%{background-size:100% 20%}
}
