name: Deploy Laravel

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: composer install --no-interaction --prefer-dist --optimize-autoloader

      - name: Laravel setup
        run: |
          composer update
          php artisan migrate --force
          php artisan config:cache
          php artisan route:cache
          php artisan view:cache
